BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBinaryOperators: All
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
InsertBraces: true
ColumnLimit: 96

# IndentPPDirectives: BeforeHash
# PPIndentWidth: 4
# ColumnLimit: 0
