BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBinaryOperators: All
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
# IndentPPDirectives: BeforeHash
# PPIndentWidth: 4
ColumnLimit: 96
